.card {
  width: 325px;
  height: 328px;

  position: relative;
  margin-right: 21px;
  margin-bottom: 21px;
}
.card__title {
  text-align: center;
  color: black;
  display: inline;
  background-color: white;
  font-family: "Cabinet Grotesk", arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  /*
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
  */
}
.card__image {
  width: 100%;
  height: 100%;
  border-radius: 10%;

  border: 3px solid #0000004d;
}
.card__image:hover {
  cursor: pointer;
}

.card__buttonLike {
  width: 18px;
  height: 15px;
  background: url("../../assets/like.svg");
  background-size: cover;
  margin: 0 0 0 10px;
}
.card__buttonLike_active {
  background-image: url("../../assets/likeactive.svg");
}

.card__title-and-like {
  display: flex;
  align-items: center;

  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
}
