.form__label {
  margin: 24px 0 0;
}
.form__fieldset-label {
  margin: 8px 0 0;
  display: block;
}
.form__text-input {
  display: block;
  margin: 8px 0 0;
  border: none;
  border-bottom: solid 1px;
  padding: 0;
  width: 100%;
}
.form__fieldset-input {
  display: inline;
  margin-right: 11px;
}
.form__radio {
  border: none;
  margin: 24px 0 32px;
  padding: 0;
}
.form__legend {
  margin: 0 0 4px;
}
