.header {
  height: 40px;
  display: flex;
  background-color: white;
  color: black;

  font-family: "Cabinet Grotesk", arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.header__logo {
  background: url("../../assets/Logo.svg");
  width: 89px;
  height: 40px;
  margin: 0;
}

.header__date_location {
  margin: 0 auto 0 24px;
}
.header__button {
  margin: 0 20px 0 0;
  border: none;
  background-color: white;
}
.header__button:hover {
  cursor: pointer;
}
.header__name {
  margin: 0 12px 0 0;
}
.header__avatar {
  width: 40px;
  height: 40px;
  background: url("../../assets/avatar.png");
}
