.header {
  height: 40px;
  display: flex;
  background-color: #f3f3f3;
  color: black;

  font-family: "Cabinet Grotesk", arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.header__logo {
  background: url("../../assets/Logo.svg");
  width: 89px;
  height: 40px;
  margin: 0;
  cursor: pointer;
}

.header__date_location {
  margin: 0 auto 0 24px;
}

.header__button {
  margin: 0 20px;
  border: none;
  background-color: #f3f3f3;
}
.header__button:hover {
  cursor: pointer;
}

.header__profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__name {
  margin: 0 12px 0 0;
  font-size: 20px;
  color: #000;
}
.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header__avatar_placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.navlink {
  text-decoration: none;
}

.header__button_signup {
  margin: 0 0 0 20px;
  font-size: 20;
  font-weight: 700;
  line-height: 24px;
  border: none;
  cursor: pointer;
  background-color: #f3f3f3;
}
.header__button_login {
  margin: 0 0 0 20px;
  font-size: 20;
  font-weight: 700;
  line-height: 24px;
  border: none;
  cursor: pointer;
  background-color: #f3f3f3;
}
