.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
  height: 100%;
  padding: 0;
  font-family: "Cabinet Grotesk", arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
}
.modal__close {
  width: 20px;
  height: 20x;
  top: 24px;
  right: 24px;
  padding: 0;
}
.modal__image {
  max-height: 498px;
}
.modal__caption {
  margin: 20px 32px 32px;
}
.modal__itemname {
  margin: 0 0 12px 0;
}
.modal__weather {
  margin: 0;
}
