.sidebar {
  display: flex;
  align-items: center;
  margin: 47px 0 0;

  max-width: 213px;
  flex-wrap: wrap;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;

  margin: 0 16px 16px 0;
  border-radius: 50%;
}
.sidebar__name {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.sidebar__buttons {
  min-width: 213px;
  cursor: pointer;
}
.sidebar__button {
  margin: 8px 0 0;
  width: 213px;
}
